@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body a {
    cursor: pointer;
    text-decoration: none;
}
body a:visited, html a:visited {
    color: #000000;
}
body,
html {
  margin: 0;
}

body button {
    cursor: pointer;
}
/* barra topo */
.navbar img {
  width: 103px;
  height: 29px;
  border-left: #dbdbdb solid 2px;
  padding-left: 10px;
}

input {
  text-align: center;
  width: 215px;
  height: 28px;
  border-radius: 3px;
  border: #dbdbdb solid 1px;
  margin-bottom: 8px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  z-index: 2;
  margin-top: 0px;
}
a {
  color: #000000;
  text-decoration: none;
}
a :visited {
  color: #000000;
}
.logo ion-icon {
  font-size: 22px;
  margin-right: 10px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1100px;
  height: 38px;
}
.icons {
  width: 150px;
  color: #000000;
  margin-left: 5px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

/* Conteúdo Stories */

.container-stories {
  width: 614px;
  height: 118px;
  border: 1px solid #dbdbdb;
  position: relative;
  top: 88px;
  left: 295px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stories-box {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 18px;
  z-index: 1;
}
.stories img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid rgb(255, 60, 93);
  padding: 2px;
}
.stories {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  margin-left: 15px;
}
.storie2 {
  margin-left: 50px;
}
.stories p {
  margin-top: 5px;
}
.button {
  font-size: 35px;
  position: absolute;
  z-index: 2;
  right: 8px;
  color: white;
  filter: drop-shadow(0 0 10px gray);
  top: 21px;
}

/*  posts */
.container-posts {
  width: 614px;
  height: 920px;
  border: 1px solid #dbdbdb;
  position: relative;
  left: 295px;
  top: 60px;
  border-radius: 5px;
  margin-top: 50px;
}
.post-top img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}
.post-top {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  left: 17px;
  font-size: 14px;
  font-weight: 500;
}
.post-top ion-icon {
  position: relative;
  left: 440px;
}
.post img {
  width: 612px;
  height: 612px;
}
.post-footer ion-icon {
  margin-top: 10px;
  font-size: 22px;
  margin-left: 15px;
}
.post-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 200px;
}

.likes img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.likes p {
  font-size: 14px;
  margin-left: 5px;
}
.likes a {
  text-decoration: none;
}
.likes a :visited {
  color: #000000;
}
.likes {
  display: flex;
  position: absolute;
  align-items: center;
  left: 14px;
  margin-top: 8px;
  top: 20px;
}
.comments {
  position: absolute;
  top: 70px;
  left: 12px;
  font-size: 14px;
}
.comments p {
  margin-bottom: 8px;
  margin-top: 8px;
}
.comments :nth-child(2) {
  color: #8e8e8e8e;
}
.comment-time p {
  color: #8e8e8e8e;
  margin-top: 5px;
}
.post-footer ion-icon:nth-child(4) {
  position: relative;
  left: 455px;
  font-size: 22px;
}
.add-comment {
  width: 612px;
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: space-between;
}
.add-comment input {
  margin-top: 5px;
  width: 80%;
  border: none;
  text-decoration: none;
}
.add-comment ion-icon {
  font-size: 22px;
}
.add-comment ::placeholder {
  float: left;
  margin-top: 5px;
}
.add-comment button {
  background-color: transparent;
  color: #139ef2;
  border: none;
  margin-right: 5px;
  font-weight: 700;
}
.suggestions-content img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-top: 20px;
}
.suggestions-content {
    position: relative;
}
.user :nth-child(3) {
  color: #139ef2;
}
.user :nth-child(2) {
  color: #8e8e8e8e;
}
.user {
    position: absolute;
    top: 20px;
    right: 80px;
}
.user p {
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
}

.suggestions-content p {
  font-size: 14px;
}
.suggestions-p {
    font-size: 12px;
    font-weight: 500;
    color: #8e8e8e8e;
    display: inline-block;
}
.suggestions a {
    color: #000000;
    font-weight: bold;
    float: right;
}

.comments ion-icon {
  position: absolute;
  left: 550px;
}

.like1 {
  position: absolute;
  left: 94.5%;
  top: 88%;
  font-size: 20px;
}
.like2 {
  position: absolute;
  left: 94.5%;
  top: 85%;
  font-size: 20px;
}
.container-suggestions {
    width: 300px;
    height: 320px;
    margin-top: 88px;
    position: fixed;
    top: 0;
    left: 950px;
}
.profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}
