@import url("https://fonts.googleapis.com/css2? family = Roboto: wght @ 300 & display = swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body,
html {
  margin: 0;
}
/* barra topo */
.navbar img {
  width: 103px;
  height: 29px;
  border-left: #dbdbdb solid 2px;
  padding-left: 10px;
}

input {
  text-align: center;
  width: 215px;
  height: 28px;
  border-radius: 3px;
  border: #dbdbdb solid 1px;
  margin-bottom: 8px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  z-index: 2;
  margin-top: 0px;
}
a {
  color: #000000;
  text-decoration: none;
}
a :visited {
  color: #000000;
}
.logo ion-icon {
  font-size: 22px;
  margin-right: 10px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1100px;
  height: 38px;
}
.icons {
  width: 150px;
  color: #000000;
  margin-left: 5px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

/* Conteúdo Stories */

.container-stories {
  width: 614px;
  height: 118px;
  border: 1px solid #dbdbdb;
  position: relative;
  top: 88px;
  left: 215px;
}
.stories-box {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 18px;
  z-index: 1;
}
.stories img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid rgb(255, 60, 93);
  padding: 2px;
}
.stories {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.stories p {
  margin-top: 5px;
}
.button {
  font-size: 35px;
  position: absolute;
  z-index: 2;
  right: 8px;
  color: white;
  filter: drop-shadow(0 0 10px gray);
  top: 21px;
}

/*  posts */
.container-posts {
  width: 614px;
  height: 920px;
  border: 1px solid #dbdbdb;
  position: relative;
  left: 215px;
  top: 60px;
  border-radius: 5px;
  margin-top: 50px;
}
.post-top img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}
.post-top {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  left: 17px;
  font-size: 14px;
  font-weight: 500;
}
.post-top ion-icon {
  position: relative;
  left: 440px;
}
.post img {
  width: 612px;
  height: 612px;
}
.post-footer ion-icon {
  margin-top: 10px;
  font-size: 22px;
  margin-left: 15px;
}
.post-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 200px;
}
/* .post-footer :nth-child(4) {
  position: relative;
  left: 470px;
} */
.likes img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.likes p {
  font-size: 14px;
  margin-left: 5px;
}
.likes a {
  text-decoration: none;
}
.likes a :visited {
  color: #000000;
}
.likes {
  display: flex;
  position: absolute;
  align-items: center;
  left: 14px;
  margin-top: 8px;
  top: 20px;
}
.comments {
  position: absolute;
  top: 70px;
  left: 12px;
  font-size: 14px;
}
.comments p {
  margin-bottom: 8px;
  margin-top: 8px;
}
.comments :nth-child(2) {
  color: #8e8e8e8e;
}
.comment-time p {
  color: #8e8e8e8e;
  margin-top: 5px;
}
.post-footer ion-icon:nth-child(4) {
  position: relative;
  left: 455px;
  font-size: 22px;
}
.add-comment {
  width: 612px;
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: space-between;
}
.add-comment input {
  margin-top: 5px;
  width: 80%;
  border: none;
  text-decoration: none;
}
.add-comment ion-icon {
  font-size: 22px;
}
.add-comment ::placeholder {
  float: left;
  margin-top: 5px;
}
.add-comment button {
  background-color: transparent;
  color: #139ef2;
  border: none;
  margin-right: 5px;
  font-weight: 700;
}
.suggestions-content img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.user :nth-child(3) {
    color: #139ef2;
}
.user :nth-child(2) {
    color: #8e8e8e8e;
}
.suggestions-content p {
    font-size: 14px;
   
}
.container-suggestions {
     background-color: red;
     height: calc(100% - 54px);
     width: 100%;
     position: fixed;
     left: calc(50% + 147px);
     z-index: 1;
}
.suggestions-content {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 293px;
    position: fixed;
    left: calc(50% + 147px);
    margin-top: 88px;
    background-color: yellow;
    z-index: 3;
}